<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File"
        fileName="SSO-output.log"
        layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
        concurrentWrites="false" keepFileOpen="false"/>
    <target name="console" xsi:type="ColoredConsole"
        layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}" />

    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="50">
      <target xsi:type="ElasticSearch"
          uri="http://onxv1339.ott.ciena.com:9200"
          index="nlog_elasticsearch_demo"
          requireAuth="true"
          layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}"
          documentType="application-nlog">
        <field name="Environment" layout="${branch}" />
        <field name="EventDateTime" layout="${date:s}" />
        <field name="EventLevel" layout="${level}" />
        <field name="MachineName" layout="${machinename}" />
        <field name="Logger" layout="${logger}" />
        <field name="Action" layout="${event-properties:item=Action}" />
        <field name="Account" layout="${event-properties:item=Account}" />
        <field name="ModifiedBy" layout="${event-properties:item=ModifiedBy}" />
        <field name="DateTime" layout="${event-properties:item=DateTime}" />
        <field name="IpAddress" layout="${event-properties:item=IpAddress}" />
        <field name="EventMessage" layout="${message}" />
        <field name="ErrorSource" layout="${exception-data:format=source}" />
        <field name="StackTrace" layout="${exception-data:format=stacktrace}" />
        <field name="ErrorMethod" layout="${exception-data:format=method}" />
        <field name="ErrorMessage" layout="${exception-data:format=message}" />
        <field name="InnerErrorMessage" layout="${exception-data:format=innerexceptionmessage}" />
        <field name="Application" layout="${application}" />
        <field name="CallSite" layout="${callsite}" />
        <field name="ThreadName" layout="${threadname}" />
        <field name="BaseDirectory" layout="${basedir}" />
        <field name="Varnish" layout="${aspnet-request:serverVariable=HTTP_X_VARNISH}"/>
        <field name="SessionId" layout="${aspnet-sessionid}"/>
        <field name="IISSiteName" layout="${iis-site-name}"/>
        <field name="URL" layout="${aspnet-request:serverVariable=URL}${aspnet-request:queryString}"/>
      </target>
    </target>

  </targets>
</nlog>